<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>aha-logback</contextName>
    <property name="LOG_HOME" value="./logs"/>
    <property name="APP_NAME" value="aha_server"/>
    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <!-- Console 输出设置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <file>
            ${LOG_HOME}/${APP_NAME}.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_HOME}/history/${APP_NAME}-%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="USER_OPERATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[UserOperationLog][%d{yyyy-MM-dd HH:mm:ss.SSS}][%level]---[%X{ip}][%X{userId}]---%m%n</pattern>
            <charset>utf8</charset>
        </encoder>
        <file>
            ${LOG_HOME}/user_operation_logs/${APP_NAME}.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_HOME}/user_operation_logs/history/${APP_NAME}-%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="STDOUT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>
    <appender name="USER_OPERATION_LOG_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="USER_OPERATION_LOG"/>
    </appender>
    <logger name="userOperationLog" level="INFO" additivity="false">
        <appender-ref ref="USER_OPERATION_LOG_ASYNC"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT_ASYNC"/>
    </root>
</configuration>