<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.CompetitionMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.Competition">
        <!--@mbg.generated-->
        <!--@Table competition-->
        <id column="co_id" property="id"/>
        <result column="co_type_id" property="typeId"/>
        <result column="co_level" property="level"/>
        <result column="co_name" property="name"/>
        <result column="co_intro" property="intro"/>
        <result column="co_pic_url" property="picUrl"/>
    </resultMap>
    <resultMap id="VoResultMap" type="cn.hdustea.aha_server.vo.CompetitionVo">
        <!--@mbg.generated-->
        <!--@Table competition-->
        <id column="co_id" property="id"/>
        <result column="co_level" property="level"/>
        <result column="co_name" property="name"/>
        <result column="co_intro" property="intro"/>
        <result column="co_pic_url" property="picUrl"/>
        <association property="competitionType" javaType="cn.hdustea.aha_server.entity.CompetitionType"
                     column="co_type_id"
                     select="cn.hdustea.aha_server.mapper.CompetitionTypeMapper.selectByPrimaryKey"/>
    </resultMap>
    <resultMap id="RoughVoResultMap" type="cn.hdustea.aha_server.vo.CompetitionRoughVo">
        <id column="co_id" property="id"/>
        <result column="co_level" property="level"/>
        <result column="co_name" property="name"/>
        <result column="co_pic_url" property="picUrl"/>
        <association property="competitionType" javaType="cn.hdustea.aha_server.entity.CompetitionType"
                     column="co_type_id"
                     select="cn.hdustea.aha_server.mapper.CompetitionTypeMapper.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        co_id, co_type_id, co_level, co_name, co_intro, co_pic_url
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from competition
        where co_id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from competition
        where co_id = #{id}
    </delete>
    <insert id="insert" keyColumn="co_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Competition"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into competition (co_type_id, co_level, co_name, co_intro, co_pic_url)
        values (#{typeId}, #{level}, #{name}, #{intro}, #{picUrl})
    </insert>
    <insert id="insertSelective" keyColumn="co_id" keyProperty="id"
            parameterType="cn.hdustea.aha_server.entity.Competition" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into competition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                co_type_id,
            </if>
            <if test="level != null">
                co_level,
            </if>
            <if test="name != null">
                co_name,
            </if>
            <if test="intro != null">
                co_intro,
            </if>
            <if test="picUrl != null">
                co_pic_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                #{typeId},
            </if>
            <if test="level != null">
                #{level},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="intro != null">
                #{intro},
            </if>
            <if test="picUrl != null">
                #{picUrl},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.Competition">
        <!--@mbg.generated-->
        update competition
        <set>
            <if test="typeId != null">
                co_type_id = #{typeId},
            </if>
            <if test="level != null">
                co_level = #{level},
            </if>
            <if test="name != null">
                co_name = #{name},
            </if>
            <if test="intro != null">
                co_intro = #{intro},
            </if>
            <if test="picUrl != null">
                co_pic_url = #{picUrl},
            </if>
        </set>
        where co_id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.Competition">
        <!--@mbg.generated-->
        update competition
        set co_type_id = #{typeId},
            co_level   = #{level},
            co_name    = #{name},
            co_intro   = #{intro},
            co_pic_url = #{picUrl}
        where co_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-10-25-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from competition
    </select>

    <select id="selectAllRoughVo" resultMap="RoughVoResultMap">
        select
        <include refid="Base_Column_List"/>
        from competition
    </select>

    <select id="selectVoByPrimaryKey" parameterType="java.lang.Integer" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from competition
        where co_id = #{id}
    </select>
</mapper>