<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.CompetitionTagMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.CompetitionTag">
        <!--@mbg.generated-->
        <!--@Table competition_tag-->
        <id column="cot_id" property="id"/>
        <result column="cot_name" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        cot_id, cot_name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from competition_tag
        where cot_id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from competition_tag
        where cot_id = #{id}
    </delete>
    <insert id="insert" keyColumn="cot_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.CompetitionTag"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into competition_tag (cot_id, cot_name)
        values (#{id}, #{name})
    </insert>
    <insert id="insertSelective" keyColumn="cot_id" keyProperty="id"
            parameterType="cn.hdustea.aha_server.entity.CompetitionTag" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into competition_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                cot_id,
            </if>
            <if test="name != null">
                cot_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.CompetitionTag">
        <!--@mbg.generated-->
        update competition_tag
        <set>
            <if test="name != null">
                cot_name = #{name},
            </if>
        </set>
        where cot_id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.CompetitionTag">
        <!--@mbg.generated-->
        update competition_tag
        set cot_name = #{name}
        where cot_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-10-25-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from competition_tag
    </select>
</mapper>