<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.CompetitionTypeMapper">
  <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.CompetitionType">
    <!--@mbg.generated-->
    <!--@Table competition_type-->
    <id column="cot_id" property="id" />
    <result column="cot_name" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    cot_id, cot_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from competition_type
    where cot_id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from competition_type
    where cot_id = #{id}
  </delete>
  <insert id="insert" keyColumn="cot_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.CompetitionType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into competition_type (cot_name)
    values (#{name})
  </insert>
  <insert id="insertSelective" keyColumn="cot_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.CompetitionType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into competition_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        cot_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.CompetitionType">
    <!--@mbg.generated-->
    update competition_type
    <set>
      <if test="name != null">
        cot_name = #{name},
      </if>
    </set>
    where cot_id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.CompetitionType">
    <!--@mbg.generated-->
    update competition_type
    set cot_name = #{name}
    where cot_id = #{id}
  </update>

  <!--auto generated by MybatisCodeHelper on 2020-10-25-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from competition_type
  </select>
</mapper>