<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.dao.CompetitionMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.Competition">
        <!--@mbg.generated-->
        <!--@Table competition-->
        <id column="id" property="id"/>
        <result column="comp_tag_id" property="compTagId"/>
        <result column="pic_url" property="picUrl"/>
        <association property="competitionTag" javaType="cn.hdustea.aha_server.entity.CompetitionTag"
                     column="comp_tag_id"
                     select="cn.hdustea.aha_server.dao.CompetitionTagMapper.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, comp_tag_id, pic_url
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from competition
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from competition
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.Competition">
        <!--@mbg.generated-->
        insert into competition (id, comp_tag_id, pic_url)
        values (#{id}, #{compTagId}, #{picUrl})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.Competition">
        <!--@mbg.generated-->
        insert into competition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="compTagId != null">
                comp_tag_id,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="compTagId != null">
                #{compTagId},
            </if>
            <if test="picUrl != null">
                #{picUrl},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.Competition">
        <!--@mbg.generated-->
        update competition
        <set>
            <if test="compTagId != null">
                comp_tag_id = #{compTagId},
            </if>
            <if test="picUrl != null">
                pic_url = #{picUrl},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.Competition">
        <!--@mbg.generated-->
        update competition
        set comp_tag_id  = #{compTagId},
            pic_url = #{picUrl}
        where id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-10-25-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from competition
    </select>
</mapper>