<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.dao.ContractMapper">
  <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.Contract">
    <!--@mbg.generated-->
    <!--@Table contract-->
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="name" property="name" />
    <result column="signature_filename" property="signatureFilename" />
    <result column="sign_time" property="signTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, `name`, signature_filename, sign_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from contract
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from contract
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Contract" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into contract (user_id, `name`, signature_filename, sign_time)
    values (#{userId}, #{name}, #{signatureFilename}, #{signTime})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Contract" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="signatureFilename != null">
        signature_filename,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="signatureFilename != null">
        #{signatureFilename},
      </if>
      <if test="signTime != null">
        #{signTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.Contract">
    <!--@mbg.generated-->
    update contract
    <set>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="signatureFilename != null">
        signature_filename = #{signatureFilename},
      </if>
      <if test="signTime != null">
        sign_time = #{signTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.Contract">
    <!--@mbg.generated-->
    update contract
    set user_id = #{userId},
      `name` = #{name},
      signature_filename = #{signatureFilename},
      sign_time = #{signTime}
    where id = #{id}
  </update>
</mapper>