<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ContractMapper">
  <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.Contract">
    <!--@mbg.generated-->
    <!--@Table contract-->
    <id column="con_id" property="id" />
    <result column="con_user_id" property="userId" />
    <result column="con_name" property="name" />
    <result column="con_signature_filename" property="signatureFilename" />
    <result column="con_sign_time" property="signTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    con_id, con_user_id, con_name, con_signature_filename, con_sign_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from contract
    where con_id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from contract
    where con_id = #{id}
  </delete>
  <insert id="insert" keyColumn="con_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Contract" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into contract (con_user_id, con_name, con_signature_filename, con_sign_time)
    values (#{userId}, #{name}, #{signatureFilename}, #{signTime})
  </insert>
  <insert id="insertSelective" keyColumn="con_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Contract" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        con_user_id,
      </if>
      <if test="name != null">
        con_name,
      </if>
      <if test="signatureFilename != null">
        con_signature_filename,
      </if>
      <if test="signTime != null">
        con_sign_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="signatureFilename != null">
        #{signatureFilename},
      </if>
      <if test="signTime != null">
        #{signTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.Contract">
    <!--@mbg.generated-->
    update contract
    <set>
      <if test="userId != null">
        con_user_id = #{userId},
      </if>
      <if test="name != null">
        con_name = #{name},
      </if>
      <if test="signatureFilename != null">
        con_signature_filename = #{signatureFilename},
      </if>
      <if test="signTime != null">
        con_sign_time = #{signTime},
      </if>
    </set>
    where con_id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.Contract">
    <!--@mbg.generated-->
    update contract
    set con_user_id = #{userId},
      con_name = #{name},
      con_signature_filename = #{signatureFilename},
      con_sign_time = #{signTime}
    where con_id = #{id}
  </update>
</mapper>