<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.MessageMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.Message">
        <!--@mbg.generated-->
        <!--@Table message-->
        <id column="m_id" property="id"/>
        <result column="m_receiver_phone" property="receiverPhone"/>
        <result column="m_text_id" property="textId"/>
        <result column="m_status" property="status"/>
        <result column="m_receive_date" property="receiveDate"/>
    </resultMap>
    <resultMap id="VoResultMap" type="cn.hdustea.aha_server.vo.MessageVo">
        <id column="m_id" property="id"/>
        <result column="mt_sender_phone" property="senderPhone"/>
        <result column="mt_type" property="type"/>
        <result column="m_status" property="status"/>
        <result column="m_receive_date" property="receiveDate"/>
        <result column="mt_post_date" property="postDate"/>
        <result column="mt_content" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        m_id, m_receiver_phone, m_text_id, m_status, m_receive_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from message
        where m_id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from message
        where m_id = #{id}
    </delete>
    <insert id="insert" keyColumn="m_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Message"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into message (m_receiver_phone, m_text_id, m_status, m_receive_date)
        values (#{receiverPhone}, #{textId}, #{status}, #{receiveDate})
    </insert>
    <insert id="insertSelective" keyColumn="m_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Message"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="receiverPhone != null">
                m_receiver_phone,
            </if>
            <if test="textId != null">
                m_text_id,
            </if>
            <if test="status != null">
                m_status,
            </if>
            <if test="receiveDate != null">
                m_receive_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="receiverPhone != null">
                #{receiverPhone},
            </if>
            <if test="textId != null">
                #{textId},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="receiveDate != null">
                #{receiveDate},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.Message">
        <!--@mbg.generated-->
        update message
        <set>
            <if test="receiverPhone != null">
                m_receiver_phone = #{receiverPhone},
            </if>
            <if test="textId != null">
                m_text_id = #{textId},
            </if>
            <if test="status != null">
                m_status = #{status},
            </if>
            <if test="receiveDate != null">
                m_receive_date = #{receiveDate},
            </if>
        </set>
        where m_id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.Message">
        <!--@mbg.generated-->
        update message
        set m_receiver_phone = #{receiverPhone},
            m_text_id        = #{textId},
            m_status         = #{status},
            m_receive_date   = #{receiveDate}
        where m_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-28-->
    <update id="updateStatusById">
        update message
        set m_status=#{updatedStatus}
        where m_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-28-->
    <update id="updateStatusByReceiverPhone">
        update message
        set m_status=#{updatedStatus}
        where m_receiver_phone = #{receiverPhone}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-28-->
    <select id="selectAllVoByReceiverPhone" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.MessageTextMapper.Base_Column_List"/>
        from message m
                     join message_text mt on m.m_text_id = mt.mt_id
        where m_receiver_phone = #{receiverPhone}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-28-->
    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message(m_receiver_phone,
                            m_text_id,
                            m_status,
                            m_receive_date)VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (#{element.receiverPhone},
             #{element.textId},
             #{element.status},
             #{element.receiveDate})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-11-28-->
    <select id="selectVoByIdAndReceiverPhoneAndNotDeleted" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.MessageTextMapper.Base_Column_List"/>
        from message m
                     join message_text mt on m.m_text_id = mt.mt_id
        where m_id = #{id}
          and m_receiver_phone = #{receiverPhone}
          and m_status != 2
    </select>
</mapper>