<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ProjectResourceCheckLogMapper">
  <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.ProjectResourceCheckLog">
    <!--@mbg.generated-->
    <!--@Table project_resource_check_log-->
    <id column="prcl_id" property="id" />
    <result column="prcl_resource_id" property="resourceId" />
    <result column="prcl_operate_user_id" property="operateUserId" />
    <result column="prcl_check_status" property="checkStatus" />
    <result column="prcl_operate_time" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    prcl_id, prcl_resource_id, prcl_operate_user_id, prcl_check_status, prcl_operate_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from project_resource_check_log
    where prcl_id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from project_resource_check_log
    where prcl_id = #{id}
  </delete>
  <insert id="insert" keyColumn="prcl_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.ProjectResourceCheckLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into project_resource_check_log (prcl_resource_id, prcl_operate_user_id, prcl_check_status, prcl_operate_time)
    values (#{resourceId}, #{operateUserId}, #{checkStatus}, #{operateTime})
  </insert>
  <insert id="insertSelective" keyColumn="prcl_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.ProjectResourceCheckLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into project_resource_check_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourceId != null">
        prcl_resource_id,
      </if>
      <if test="operateUserId != null">
        prcl_operate_user_id,
      </if>
      <if test="checkStatus != null">
        prcl_check_status,
      </if>
      <if test="operateTime != null">
        prcl_operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourceId != null">
        #{resourceId},
      </if>
      <if test="operateUserId != null">
        #{operateUserId},
      </if>
      <if test="checkStatus != null">
        #{checkStatus},
      </if>
      <if test="operateTime != null">
        #{operateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.ProjectResourceCheckLog">
    <!--@mbg.generated-->
    update project_resource_check_log
    <set>
      <if test="resourceId != null">
        prcl_resource_id = #{resourceId},
      </if>
      <if test="operateUserId != null">
        prcl_operate_user_id = #{operateUserId},
      </if>
      <if test="checkStatus != null">
        prcl_check_status = #{checkStatus},
      </if>
      <if test="operateTime != null">
        prcl_operate_time = #{operateTime},
      </if>
    </set>
    where prcl_id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.ProjectResourceCheckLog">
    <!--@mbg.generated-->
    update project_resource_check_log
    set prcl_resource_id = #{resourceId},
      prcl_operate_user_id = #{operateUserId},
      prcl_check_status = #{checkStatus},
      prcl_operate_time = #{operateTime}
    where prcl_id = #{id}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-06-->
  <select id="selectByResourceIdAndCheckStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource_check_log
        where prcl_resource_id=#{resourceId} and prcl_check_status=#{checkStatus}
    </select>
</mapper>