<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ProjectMemberMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.ProjectMember">
        <!--@mbg.generated-->
        <!--@Table project_member-->
        <id column="pm_project_id" property="projectId"/>
        <id column="pm_member_user_id" property="memberUserId"/>
        <result column="pm_rank" property="rank"/>
        <result column="pm_job" property="job"/>
        <result column="pm_editable" property="editable"/>
    </resultMap>
    <resultMap id="VoResultMap" type="cn.hdustea.aha_server.vo.ProjectMemberVo">
        <!--@mbg.generated-->
        <!--@Table project_member-->
        <id column="pm_member_user_id" property="memberUserId"/>
        <result column="pm_rank" property="rank"/>
        <result column="pm_job" property="job"/>
        <result column="pm_editable" property="editable"/>
        <result column="ui_nickname" property="nickname"/>
        <result column="ui_true_name" property="trueName"/>
        <result column="ui_avatar_url" property="avatarUrl"/>
        <result column="ui_school" property="school"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        pm_project_id, pm_member_user_id, pm_rank, pm_job, pm_editable
    </sql>
    <sql id="Vo_Column_List">
        <!--@mbg.generated-->
        pm_member_user_id, pm_rank, pm_job, pm_editable
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from project_member
        where pm_project_id = #{projectId}
          and pm_member_user_id = #{memberUserId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete
        from project_member
        where pm_project_id = #{projectId}
          and pm_member_user_id = #{memberUserId}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.ProjectMember">
        <!--@mbg.generated-->
        insert into project_member (pm_project_id, pm_member_user_id, pm_rank, pm_job, pm_editable)
        values (#{projectId}, #{memberUserId}, #{rank}, #{job}, #{editable})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.ProjectMember">
        <!--@mbg.generated-->
        insert into project_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                pm_project_id,
            </if>
            <if test="memberUserId != null">
                pm_member_user_id,
            </if>
            <if test="rank != null">
                pm_rank,
            </if>
            <if test="job != null">
                pm_job,
            </if>
            <if test="editable != null">
                pm_editable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="memberUserId != null">
                #{memberUserId},
            </if>
            <if test="rank != null">
                #{rank},
            </if>
            <if test="job != null">
                #{job},
            </if>
            <if test="editable != null">
                #{editable},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.ProjectMember">
        <!--@mbg.generated-->
        update project_member
        <set>
            <if test="rank != null">
                pm_rank = #{rank},
            </if>
            <if test="job != null">
                pm_job = #{job},
            </if>
            <if test="editable != null">
                pm_editable = #{editable},
            </if>
        </set>
        where pm_project_id = #{projectId}
          and pm_member_user_id = #{memberUserId}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.ProjectMember">
        <!--@mbg.generated-->
        update project_member
        set pm_rank     = #{rank},
            pm_job      = #{job},
            pm_editable = #{editable}
        where pm_project_id = #{projectId}
          and pm_member_user_id = #{memberUserId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-08-->
    <select id="selectAllByProjectId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.UserInfoMapper.Base_Column_List">
        </include>
        from project_member
        where pm_project_id = #{projectId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-08-->
    <select id="selectByProjectIdAndMemberUserIdAndEditable" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_member
        where pm_project_id = #{projectId}
          and pm_member_user_id = #{memberUserId}
          and pm_editable = #{editable}
    </select>

    <select id="selectAllVoByProjectIdOrderByRank" resultMap="VoResultMap">
        select
        <include refid="Vo_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.UserInfoMapper.Base_Column_List"/>
        from project_member pm
                     join user u on u.u_id = pm.pm_member_user_id
                     join user_info ui on ui.ui_user_id = u.u_id
        where pm_project_id = #{projectId}
        order by pm_rank
    </select>
</mapper>