<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ProjectResourceFinancialSchemeMapper">
  <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.ProjectResourceFinancialScheme">
    <!--@mbg.generated-->
    <!--@Table project_resource_financial_scheme-->
    <id column="prfs_id" property="id" />
    <result column="prfs_award_level" property="awardLevel" />
    <result column="prfs_price_upper_limit" property="priceUpperLimit" />
    <result column="prfs_price_lower_limit" property="priceLowerLimit" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    prfs_id, prfs_award_level, prfs_price_upper_limit, prfs_price_lower_limit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from project_resource_financial_scheme
    where prfs_id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from project_resource_financial_scheme
    where prfs_id = #{id}
  </delete>
  <insert id="insert" keyColumn="prfs_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.ProjectResourceFinancialScheme" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into project_resource_financial_scheme (prfs_award_level, prfs_price_upper_limit, prfs_price_lower_limit)
    values (#{awardLevel}, #{priceUpperLimit}, #{priceLowerLimit})
  </insert>
  <insert id="insertSelective" keyColumn="prfs_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.ProjectResourceFinancialScheme" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into project_resource_financial_scheme
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="awardLevel != null">
        prfs_award_level,
      </if>
      <if test="priceUpperLimit != null">
        prfs_price_upper_limit,
      </if>
      <if test="priceLowerLimit != null">
        prfs_price_lower_limit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="awardLevel != null">
        #{awardLevel},
      </if>
      <if test="priceUpperLimit != null">
        #{priceUpperLimit},
      </if>
      <if test="priceLowerLimit != null">
        #{priceLowerLimit},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.ProjectResourceFinancialScheme">
    <!--@mbg.generated-->
    update project_resource_financial_scheme
    <set>
      <if test="awardLevel != null">
        prfs_award_level = #{awardLevel},
      </if>
      <if test="priceUpperLimit != null">
        prfs_price_upper_limit = #{priceUpperLimit},
      </if>
      <if test="priceLowerLimit != null">
        prfs_price_lower_limit = #{priceLowerLimit},
      </if>
    </set>
    where prfs_id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.ProjectResourceFinancialScheme">
    <!--@mbg.generated-->
    update project_resource_financial_scheme
    set prfs_award_level = #{awardLevel},
      prfs_price_upper_limit = #{priceUpperLimit},
      prfs_price_lower_limit = #{priceLowerLimit}
    where prfs_id = #{id}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-05-->
  <select id="selectByAwardLevel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource_financial_scheme
        where prfs_award_level=#{awardLevel}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-02-05-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from project_resource_financial_scheme
  </select>
</mapper>