<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ProjectMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.Project">
        <!--@mbg.generated-->
        <!--@Table project-->
        <id column="p_id" property="id"/>
        <result column="p_creator_user_id" property="creatorUserId"/>
        <result column="p_name" property="name"/>
        <result column="p_avatar_url" property="avatarUrl"/>
        <result column="p_tags" property="tags"/>
        <result column="p_intro" property="intro"/>
        <result column="p_read" property="read"/>
        <result column="p_collect" property="collect"/>
        <result column="p_comp_id" property="compId"/>
        <result column="p_comp_name" property="compName"/>
        <result column="p_award_level" property="awardLevel"/>
        <result column="p_award_time" property="awardTime"/>
        <result column="p_award_prove_url" property="awardProveUrl"/>
        <result column="p_meaning" property="meaning"/>
        <result column="p_passed" property="passed"/>
    </resultMap>
    <resultMap id="RoughInfoMap" type="cn.hdustea.aha_server.vo.ProjectRoughVo">
        <!--@mbg.generated-->
        <!--@Table project-->
        <id column="p_id" property="id"/>
        <result column="p_creator_user_id" property="creatorUserId"/>
        <result column="p_name" property="name"/>
        <result column="p_avatar_url" property="avatarUrl"/>
        <result column="p_tags" property="tags"/>
        <result column="p_read" property="read"/>
        <result column="p_collect" property="collect"/>
        <result column="p_comp_id" property="compId"/>
        <result column="p_award_level" property="awardLevel"/>
        <result column="p_award_time" property="awardTime"/>
    </resultMap>
    <resultMap id="DetailResultMap" type="cn.hdustea.aha_server.vo.ProjectDetailVo">
        <!--@mbg.generated-->
        <!--@Table project-->
        <id column="p_id" property="id"/>
        <result column="p_creator_user_id" property="creatorUserId"/>
        <result column="p_name" property="name"/>
        <result column="p_avatar_url" property="avatarUrl"/>
        <result column="p_tags" property="tags"/>
        <result column="p_intro" property="intro"/>
        <result column="p_read" property="read"/>
        <result column="p_collect" property="collect"/>
        <result column="p_comp_id" property="compId"/>
        <result column="p_comp_name" property="compName"/>
        <result column="p_award_level" property="awardLevel"/>
        <result column="p_award_time" property="awardTime"/>
        <result column="p_award_prove_url" property="awardProveUrl"/>
        <result column="p_meaning" property="meaning"/>
        <result column="p_passed" property="passed"/>
        <association property="competition" javaType="cn.hdustea.aha_server.entity.Competition" column="p_comp_id"
                     select="cn.hdustea.aha_server.mapper.CompetitionMapper.selectByPrimaryKey"/>
        <collection property="members" ofType="cn.hdustea.aha_server.vo.ProjectMemberVo" column="p_id"
                    select="cn.hdustea.aha_server.mapper.ProjectMemberMapper.selectAllVoByProjectIdOrderByRank"/>
        <collection property="resources" ofType="cn.hdustea.aha_server.vo.ProjectResourceVo" column="p_id"
                    select="cn.hdustea.aha_server.mapper.ProjectResourceMapper.selectAllVoByProjectIdAndNotFreezed"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        p_id, p_creator_user_id, p_name, p_avatar_url, p_tags, p_intro, p_read, p_collect,
        p_comp_id, p_comp_name, p_award_level, p_award_time, p_award_prove_url, p_meaning,
        p_passed
    </sql>
    <sql id="Rough_Column_List">
        <!--@mbg.generated-->
        p_id, p_creator_user_id, p_name, p_avatar_url, p_tags, p_read, p_collect, p_comp_id,
        p_award_level, p_award_time
    </sql>
    <sql id="Detail_Column_List">
        <!--@mbg.generated-->
        p_id, p_creator_user_id, p_name, p_avatar_url, p_tags, p_intro, p_read, p_collect, p_comp_id,
        p_comp_name, p_award_level, p_award_time, p_award_prove_url, p_meaning, p_passed
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from project
        where p_id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from project
        where p_id = #{id}
    </delete>
    <insert id="insert" keyColumn="p_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Project"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into project (p_creator_user_id, p_name, p_avatar_url, p_tags, p_intro, p_read, p_collect,
                             p_comp_id, p_comp_name, p_award_level, p_award_time, p_award_prove_url, p_meaning,
                             p_passed)
        values (#{creatorUserId}, #{name}, #{avatarUrl}, #{tags}, #{intro}, #{read}, #{collect},
                #{compId}, #{compName}, #{awardLevel}, #{awardTime}, #{awardProveUrl}, #{meaning},
                #{passed})
    </insert>
    <insert id="insertSelective" keyColumn="p_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Project"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creatorUserId != null">
                p_creator_user_id,
            </if>
            <if test="name != null">
                p_name,
            </if>
            <if test="avatarUrl != null">
                p_avatar_url,
            </if>
            <if test="tags != null">
                p_tags,
            </if>
            <if test="intro != null">
                p_intro,
            </if>
            <if test="read != null">
                p_read,
            </if>
            <if test="collect != null">
                p_collect,
            </if>
            <if test="compId != null">
                p_comp_id,
            </if>
            <if test="compName != null">
                p_comp_name,
            </if>
            <if test="awardLevel != null">
                p_award_level,
            </if>
            <if test="awardTime != null">
                p_award_time,
            </if>
            <if test="awardProveUrl != null">
                p_award_prove_url,
            </if>
            <if test="meaning != null">
                p_meaning,
            </if>
            <if test="passed != null">
                p_passed,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="creatorUserId != null">
                #{creatorUserId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl},
            </if>
            <if test="tags != null">
                #{tags},
            </if>
            <if test="intro != null">
                #{intro},
            </if>
            <if test="read != null">
                #{read},
            </if>
            <if test="collect != null">
                #{collect},
            </if>
            <if test="compId != null">
                #{compId},
            </if>
            <if test="compName != null">
                #{compName},
            </if>
            <if test="awardLevel != null">
                #{awardLevel},
            </if>
            <if test="awardTime != null">
                #{awardTime},
            </if>
            <if test="awardProveUrl != null">
                #{awardProveUrl},
            </if>
            <if test="meaning != null">
                #{meaning},
            </if>
            <if test="passed != null">
                #{passed},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.Project">
        <!--@mbg.generated-->
        update project
        <set>
            <if test="creatorUserId != null">
                p_creator_user_id = #{creatorUserId},
            </if>
            <if test="name != null">
                p_name = #{name},
            </if>
            <if test="avatarUrl != null">
                p_avatar_url = #{avatarUrl},
            </if>
            <if test="tags != null">
                p_tags = #{tags},
            </if>
            <if test="intro != null">
                p_intro = #{intro},
            </if>
            <if test="read != null">
                p_read = #{read},
            </if>
            <if test="collect != null">
                p_collect = #{collect},
            </if>
            <if test="compId != null">
                p_comp_id = #{compId},
            </if>
            <if test="compName != null">
                p_comp_name = #{compName},
            </if>
            <if test="awardLevel != null">
                p_award_level = #{awardLevel},
            </if>
            <if test="awardTime != null">
                p_award_time = #{awardTime},
            </if>
            <if test="awardProveUrl != null">
                p_award_prove_url = #{awardProveUrl},
            </if>
            <if test="meaning != null">
                p_meaning = #{meaning},
            </if>
            <if test="passed != null">
                p_passed = #{passed},
            </if>
        </set>
        where p_id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.Project">
        <!--@mbg.generated-->
        update project
        set p_creator_user_id = #{creatorUserId},
            p_name            = #{name},
            p_avatar_url      = #{avatarUrl},
            p_tags            = #{tags},
            p_intro           = #{intro},
            p_read            = #{read},
            p_collect         = #{collect},
            p_comp_id         = #{compId},
            p_comp_name       = #{compName},
            p_award_level     = #{awardLevel},
            p_award_time      = #{awardTime},
            p_award_prove_url = #{awardProveUrl},
            p_meaning         = #{meaning},
            p_passed          = #{passed}
        where p_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-08-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project
    </select>

    <select id="selectAllRough" resultMap="RoughInfoMap">
        select
        <include refid="Rough_Column_List"/>
        from project
    </select>

    <select id="selectRoughByPrimaryKey" resultMap="RoughInfoMap">
        select
        <include refid="Rough_Column_List"/>
        from project
        where p_id = #{id}
    </select>

    <select id="selectDetailByPrimaryKey" resultMap="DetailResultMap">
        select
        <include refid="Detail_Column_List"/>
        from project
        where p_id = #{id}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-08-->
    <update id="updateReadById">
        update project
        set p_read=#{updatedRead}
        where p_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-22-->
    <select id="selectAllRoughByConditions" resultMap="RoughInfoMap">
        select distinct
        <include refid="Rough_Column_List"/>
        from project
                     left join project_member pm on pm.pm_project_id = project.p_id
        <where>
            <if test="createUserId != null">
                and (p_creator_user_id = #{createUserId}
                    or pm_member_user_id = #{createUserId})
            </if>
            <if test="compId != null">
                and p_comp_id = #{compId}
            </if>
            <if test="awardLevel != null">
                and p_award_level &gt;= #{awardLevel}
            </if>
            <if test="passed != null">
                and p_passed = #{passed}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-23-->
    <update id="updateIncCollectById">
        update project
        set p_collect = p_collect + 1
        where p_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-23-->
    <update id="updateDecCollectById">
        update project
        set p_collect = p_collect - 1
        where p_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-25-->
    <update id="updateMeaningById">
        update project
        set p_meaning=#{updatedMeaning}
        where p_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-25-->
    <update id="updatePassedById">
        update project
        set p_passed=#{updatedPassed}
        where p_id = #{id}
    </update>
</mapper>