<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ProjectResourceMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.ProjectResource">
        <!--@mbg.generated-->
        <!--@Table project_resource-->
        <id column="pr_id" property="id"/>
        <result column="pr_project_id" property="projectId"/>
        <result column="pr_name" property="name"/>
        <result column="pr_type" property="type"/>
        <result column="pr_filename" property="filename"/>
        <result column="pr_preview_url" property="previewUrl"/>
        <result column="pr_download" property="download"/>
        <result column="pr_score" property="score"/>
        <result column="pr_score_count" property="scoreCount"/>
        <result column="pr_price" property="price"/>
        <result column="pr_discount" property="discount"/>
        <result column="pr_passed" property="passed"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        pr_id, pr_project_id, pr_name, pr_type, pr_filename, pr_preview_url, pr_download,
        pr_score, pr_score_count, pr_price, pr_discount, pr_passed
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from project_resource
        where pr_id = #{id}
    </select>

    <select id="selectVoByPrimaryKey" parameterType="java.lang.Integer" resultMap="VoResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from project_resource
        where pr_id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from project_resource
        where pr_id = #{id}
    </delete>
    <insert id="insert" keyColumn="pr_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.ProjectResource"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into project_resource (pr_project_id, pr_name, pr_type, pr_filename, pr_preview_url, pr_download,
                                      pr_score, pr_score_count, pr_price, pr_discount, pr_passed)
        values (#{projectId}, #{name}, #{type}, #{filename}, #{previewUrl}, #{download},
                #{score}, #{scoreCount}, #{price}, #{discount}, #{passed})
    </insert>
    <insert id="insertSelective" keyColumn="pr_id" keyProperty="id"
            parameterType="cn.hdustea.aha_server.entity.ProjectResource" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into project_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                pr_project_id,
            </if>
            <if test="name != null">
                pr_name,
            </if>
            <if test="type != null">
                pr_type,
            </if>
            <if test="filename != null">
                pr_filename,
            </if>
            <if test="previewUrl != null">
                pr_preview_url,
            </if>
            <if test="download != null">
                pr_download,
            </if>
            <if test="score != null">
                pr_score,
            </if>
            <if test="scoreCount != null">
                pr_score_count,
            </if>
            <if test="price != null">
                pr_price,
            </if>
            <if test="discount != null">
                pr_discount,
            </if>
            <if test="passed != null">
                pr_passed,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="filename != null">
                #{filename},
            </if>
            <if test="previewUrl != null">
                #{previewUrl},
            </if>
            <if test="download != null">
                #{download},
            </if>
            <if test="score != null">
                #{score},
            </if>
            <if test="scoreCount != null">
                #{scoreCount},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="discount != null">
                #{discount},
            </if>
            <if test="passed != null">
                #{passed},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.ProjectResource">
        <!--@mbg.generated-->
        update project_resource
        <set>
            <if test="projectId != null">
                pr_project_id = #{projectId},
            </if>
            <if test="name != null">
                pr_name = #{name},
            </if>
            <if test="type != null">
                pr_type = #{type},
            </if>
            <if test="filename != null">
                pr_filename = #{filename},
            </if>
            <if test="previewUrl != null">
                pr_preview_url = #{previewUrl},
            </if>
            <if test="download != null">
                pr_download = #{download},
            </if>
            <if test="score != null">
                pr_score = #{score},
            </if>
            <if test="scoreCount != null">
                pr_score_count = #{scoreCount},
            </if>
            <if test="price != null">
                pr_price = #{price},
            </if>
            <if test="discount != null">
                pr_discount = #{discount},
            </if>
            <if test="passed != null">
                pr_passed = #{passed},
            </if>
        </set>
        where pr_id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.ProjectResource">
        <!--@mbg.generated-->
        update project_resource
        set pr_project_id  = #{projectId},
            pr_name        = #{name},
            pr_type        = #{type},
            pr_filename    = #{filename},
            pr_preview_url = #{previewUrl},
            pr_download    = #{download},
            pr_score       = #{score},
            pr_score_count = #{scoreCount},
            pr_price       = #{price},
            pr_discount    = #{discount},
            pr_passed      = #{passed}
        where pr_id = #{id}
    </update>
    <resultMap id="VoResultMap" type="cn.hdustea.aha_server.vo.ProjectResourceVo">
        <id column="pr_id" property="id"/>
        <result column="pr_project_id" property="projectId"/>
        <result column="pr_name" property="name"/>
        <result column="pr_type" property="type"/>
        <result column="pr_filename" property="filename"/>
        <result column="pr_preview_url" property="previewUrl"/>
        <result column="pr_download" property="download"/>
        <result column="pr_score" property="score"/>
        <result column="pr_score_count" property="scoreCount"/>
        <result column="pr_price" property="price"/>
        <result column="pr_discount" property="discount"/>
        <result column="pr_passed" property="passed"/>
    </resultMap>

    <!--auto generated by MybatisCodeHelper on 2020-11-08-->
    <select id="selectAllByProjectId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource
        where pr_project_id = #{projectId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-25-->
    <update id="updatePreviewUrlById">
        update project_resource
        set pr_preview_url=#{updatedPreviewUrl}
        where pr_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-25-->
    <update id="updateIncDownloadById">
        update project_resource
        set pr_download = pr_download + 1
        where pr_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-01-05-->
    <select id="selectAllVoByProjectIdAndPassed" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource
        where pr_project_id = #{projectId}
          and pr_passed = true
    </select>

    <select id="selectAllVoByProjectId" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource
        where pr_project_id = #{projectId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-01-05-->
    <update id="updatePassedByProjectId">
        update project_resource
        set pr_passed=#{updatedPassed}
        where pr_project_id = #{projectId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-01-05-->
    <update id="updatePassedById">
        update project_resource
        set pr_passed=#{updatedPassed}
        where pr_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-01-05-->
    <select id="selectAllVoByConditions" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.ProjectMapper.Base_Column_List"/>
        from project_resource pr
                     join project p on p.p_id = pr.pr_project_id
        <where>
            <if test="resourcePassed != null">
                and pr_passed = #{resourcePassed}
            </if>
            <if test="projectPassed != null">
                and p_passed = #{projectPassed}
            </if>
            <if test="projectId != null">
                and pr_project_id = #{projectId}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-01-05-->
    <select id="selectVoByPrimaryKeyAndPassed" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource
        <where>
            pr_id = #{id}
            <if test="passed != null">
                and pr_passed = #{passed}
            </if>
        </where>
    </select>
</mapper>