<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ProjectResourceScoreMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        <!--@Table project_resource_score-->
        <id column="prs_user_id" property="userId"/>
        <result column="prs_resource_id" property="resourceId"/>
        <result column="prs_score" property="score"/>
        <result column="prs_comment" property="comment"/>
    </resultMap>
    <resultMap id="AvgScoreMap" type="cn.hdustea.aha_server.dto.ResourceAvgScoreDto">
        <result column="prs_resource_id" property="resourceId"/>
        <result column="prs_score" property="score"/>
    </resultMap>
    <resultMap id="VoResultMap" type="cn.hdustea.aha_server.vo.ProjectResourceScoreVo">
        <result column="prs_resource_id" property="resourceId"/>
        <result column="prs_score" property="score"/>
        <result column="prs_comment" property="comment"/>
        <association property="user" javaType="cn.hdustea.aha_server.vo.UserRoughInfoVo" column="prs_user_id"
                     select="cn.hdustea.aha_server.mapper.UserInfoMapper.selectRoughVoByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        prs_user_id, prs_resource_id, prs_score, prs_comment
    </sql>
    <sql id="Avg_Column_List">
        prs_resource_id,
        avg(prs_score) as prs_score
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from project_resource_score
        where prs_user_id = #{userId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from project_resource_score
        where prs_user_id = #{userId}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        insert into project_resource_score (prs_user_id, prs_resource_id, prs_score, prs_comment)
        values (#{userId}, #{resourceId}, #{score}, #{comment})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        insert into project_resource_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                prs_user_id,
            </if>
            <if test="resourceId != null">
                prs_resource_id,
            </if>
            <if test="score != null">
                prs_score,
            </if>
            <if test="comment != null">
                prs_comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="resourceId != null">
                #{resourceId},
            </if>
            <if test="score != null">
                #{score},
            </if>
            <if test="comment != null">
                #{comment},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        update project_resource_score
        <set>
            <if test="resourceId != null">
                prs_resource_id = #{resourceId},
            </if>
            <if test="score != null">
                prs_score = #{score},
            </if>
            <if test="comment != null">
                prs_comment = #{comment},
            </if>
        </set>
        where prs_user_id = #{userId}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        update project_resource_score
        set prs_resource_id = #{resourceId},
            prs_score       = #{score},
            prs_comment     = #{comment}
        where prs_user_id = #{userId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-12-07-->
    <select id="selectAllByResourceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource_score
        where prs_resource_id = #{resourceId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-07-->
    <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource_score
        where prs_user_id = #{userId}
    </select>

    <select id="selectAllAvgScore" resultMap="AvgScoreMap">
        select
        <include refid="Avg_Column_List"/>
        from project_resource_score
        group by prs_resource_id
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-07-->
    <select id="countByResourceId" resultType="java.lang.Integer">
        select count(1)
        from project_resource_score
        where prs_resource_id = #{resourceId}
    </select>

    <select id="selectAllVoByResourceId" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource_score
        where prs_resource_id = #{resourceId}
    </select>
</mapper>