<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ProjectResourceScoreMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        <!--@Table project_resource_score-->
        <id column="prs_user_id" property="userId"/>
        <id column="prs_resource_id" property="resourceId"/>
        <result column="prs_score" property="score"/>
        <result column="prs_comment" property="comment"/>
        <result column="prs_time" property="time"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        prs_user_id, prs_resource_id, prs_score, prs_comment, prs_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from project_resource_score
        where prs_user_id = #{userId}
          and prs_resource_id = #{resourceId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete
        from project_resource_score
        where prs_user_id = #{userId}
          and prs_resource_id = #{resourceId}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        insert into project_resource_score (prs_user_id, prs_resource_id, prs_score, prs_comment, prs_time)
        values (#{userId}, #{resourceId}, #{score}, #{comment}, #{time})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        insert into project_resource_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                prs_user_id,
            </if>
            <if test="resourceId != null">
                prs_resource_id,
            </if>
            <if test="score != null">
                prs_score,
            </if>
            <if test="comment != null">
                prs_comment,
            </if>
            <if test="time != null">
                prs_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="resourceId != null">
                #{resourceId},
            </if>
            <if test="score != null">
                #{score},
            </if>
            <if test="comment != null">
                #{comment},
            </if>
            <if test="time != null">
                #{time},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        update project_resource_score
        <set>
            <if test="score != null">
                prs_score = #{score},
            </if>
            <if test="comment != null">
                prs_comment = #{comment},
            </if>
            <if test="time != null">
                prs_time = #{time},
            </if>
        </set>
        where prs_user_id = #{userId}
          and prs_resource_id = #{resourceId}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.ProjectResourceScore">
        <!--@mbg.generated-->
        update project_resource_score
        set prs_score   = #{score},
            prs_comment = #{comment},
            prs_time    = #{time}
        where prs_user_id = #{userId}
          and prs_resource_id = #{resourceId}
    </update>
    <resultMap id="AvgScoreMap" type="cn.hdustea.aha_server.dto.ResourceAvgScoreDto">
        <result column="prs_resource_id" property="resourceId"/>
        <result column="prs_score" property="score"/>
    </resultMap>
    <resultMap id="VoResultMap" type="cn.hdustea.aha_server.vo.ProjectResourceScoreVo">
        <result column="prs_resource_id" property="resourceId"/>
        <result column="prs_score" property="score"/>
        <result column="prs_comment" property="comment"/>
        <result column="prs_time" property="time"/>
        <association column="prs_user_id" javaType="cn.hdustea.aha_server.vo.UserRoughInfoVo" property="user"
                     select="cn.hdustea.aha_server.mapper.UserInfoMapper.selectRoughVoByPrimaryKey"/>
    </resultMap>
    <sql id="Avg_Column_List">
        prs_resource_id,
        avg(prs_score) as prs_score
    </sql>

    <!--auto generated by MybatisCodeHelper on 2020-12-07-->
    <select id="selectAllByResourceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource_score
        where prs_resource_id = #{resourceId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-07-->
    <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource_score
        where prs_user_id = #{userId}
    </select>

    <select id="selectAllAvgScore" resultMap="AvgScoreMap">
        select
        <include refid="Avg_Column_List"/>
        from project_resource_score
        group by prs_resource_id
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-07-->
    <select id="countByResourceId" resultType="java.lang.Integer">
        select count(1)
        from project_resource_score
        where prs_resource_id = #{resourceId}
    </select>

    <select id="selectAllVoByConditions" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_resource_score prs
                     join project_resource pr on pr.pr_id = prs.prs_resource_id
        <where>
            <if test="projectId != null and resourceId == null">
                and pr_project_id = #{projectId}
            </if>
            <if test="resourceId != null">
                and prs_resource_id = #{resourceId}
            </if>
            <if test="highestScore != null and lowestScore != null">
                and prs_score between #{lowestScore} and #{highestScore}
            </if>
            <if test="resourcePassed != null">
                and pr_passed = #{resourcePassed}
            </if>
        </where>
    </select>
</mapper>