<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ProjectInfoMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.ProjectInfo">
        <!--@mbg.generated-->
        <!--@Table project_info-->
        <id column="pi_project_id" property="projectId"/>
        <result column="pi_comp_id" property="compId"/>
        <result column="pi_award_name" property="awardName"/>
        <result column="pi_award_level" property="awardLevel"/>
        <result column="pi_award_time" property="awardTime"/>
        <result column="pi_award_prove_url" property="awardProveUrl"/>
        <result column="pi_passed" property="passed"/>
        <result column="pi_intro" property="intro"/>
        <association property="competition" javaType="cn.hdustea.aha_server.entity.Competition" column="pi_comp_id"
                     select="cn.hdustea.aha_server.mapper.CompetitionMapper.selectByPrimaryKey"/>
        <collection property="members" ofType="cn.hdustea.aha_server.entity.ProjectMember" column="pi_project_id"
                    select="cn.hdustea.aha_server.mapper.ProjectMemberMapper.selectAllByProjectId"/>
        <collection property="resources" ofType="cn.hdustea.aha_server.entity.ProjectResource" column="pi_project_id"
                    select="cn.hdustea.aha_server.mapper.ProjectResourceMapper.selectAllByProjectId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        pi_project_id, pi_comp_id, pi_award_name, pi_award_level, pi_award_time, pi_award_prove_url,
        pi_passed, pi_intro
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from project_info
        where pi_project_id = #{projectId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from project_info
        where pi_project_id = #{projectId}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.ProjectInfo">
        <!--@mbg.generated-->
        insert into project_info (pi_project_id, pi_comp_id, pi_award_name, pi_award_level, pi_award_time,
                                  pi_award_prove_url,
                                  pi_passed, pi_intro)
        values (#{projectId}, #{compId}, #{awardName}, #{awardLevel}, #{awardTime}, #{awardProveUrl},
                #{passed}, #{intro})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.ProjectInfo">
        <!--@mbg.generated-->
        insert into project_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                pi_project_id,
            </if>
            <if test="compId != null">
                pi_comp_id,
            </if>
            <if test="awardName != null">
                pi_award_name,
            </if>
            <if test="awardLevel != null">
                pi_award_level,
            </if>
            <if test="awardTime != null">
                pi_award_time,
            </if>
            <if test="awardProveUrl != null">
                pi_award_prove_url,
            </if>
            <if test="passed != null">
                pi_passed,
            </if>
            <if test="intro != null">
                pi_intro,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="compId != null">
                #{compId},
            </if>
            <if test="awardName != null">
                #{awardName},
            </if>
            <if test="awardLevel != null">
                #{awardLevel},
            </if>
            <if test="awardTime != null">
                #{awardTime},
            </if>
            <if test="awardProveUrl != null">
                #{awardProveUrl},
            </if>
            <if test="passed != null">
                #{passed},
            </if>
            <if test="intro != null">
                #{intro},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.ProjectInfo">
        <!--@mbg.generated-->
        update project_info
        <set>
            <if test="compId != null">
                pi_comp_id = #{compId},
            </if>
            <if test="awardName != null">
                pi_award_name = #{awardName},
            </if>
            <if test="awardLevel != null">
                pi_award_level = #{awardLevel},
            </if>
            <if test="awardTime != null">
                pi_award_time = #{awardTime},
            </if>
            <if test="awardProveUrl != null">
                pi_award_prove_url = #{awardProveUrl},
            </if>
            <if test="passed != null">
                pi_passed = #{passed},
            </if>
            <if test="intro != null">
                pi_intro = #{intro},
            </if>
        </set>
        where pi_project_id = #{projectId}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.ProjectInfo">
        <!--@mbg.generated-->
        update project_info
        set pi_comp_id         = #{compId},
            pi_award_name      = #{awardName},
            pi_award_level     = #{awardLevel},
            pi_award_time      = #{awardTime},
            pi_award_prove_url = #{awardProveUrl},
            pi_passed          = #{passed},
            pi_intro           = #{intro}
        where pi_project_id = #{projectId}
    </update>
</mapper>