<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.PurchasedResourceMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        <!--@Table purchased_resource-->
        <id column="pr_user_id" property="userId"/>
        <id column="pr_resource_id" property="resourceId"/>
        <result column="pr_purchase_time" property="purchaseTime"/>
    </resultMap>
    <resultMap id="VoResultMap" type="cn.hdustea.aha_server.vo.PurchasedResourceVo">
        <result column="pr_purchase_time" property="purchaseTime"/>
        <association property="resource" javaType="cn.hdustea.aha_server.vo.ProjectResourceVo" column="pr_resource_id"
                     select="cn.hdustea.aha_server.mapper.ProjectResourceMapper.selectVoByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        pr_user_id, pr_resource_id, pr_purchase_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from purchased_resource
        where pr_user_id = #{userId}
          and pr_resource_id = #{resourceId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete
        from purchased_resource
        where pr_user_id = #{userId}
          and pr_resource_id = #{resourceId}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        insert into purchased_resource (pr_user_id, pr_resource_id, pr_purchase_time)
        values (#{userId}, #{resourceId}, #{purchaseTime})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        insert into purchased_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                pr_user_id,
            </if>
            <if test="resourceId != null">
                pr_resource_id,
            </if>
            <if test="purchaseTime != null">
                pr_purchase_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="resourceId != null">
                #{resourceId},
            </if>
            <if test="purchaseTime != null">
                #{purchaseTime},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        update purchased_resource
        <set>
            <if test="purchaseTime != null">
                pr_purchase_time = #{purchaseTime},
            </if>
        </set>
        where pr_user_id = #{userId}
          and pr_resource_id = #{resourceId}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        update purchased_resource
        set pr_purchase_time = #{purchaseTime}
        where pr_user_id = #{userId}
          and pr_resource_id = #{resourceId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-12-08-->
    <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from purchased_resource
        where pr_user_id = #{userId}
    </select>

    <select id="selectAllVoByUserId" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from purchased_resource
        where pr_user_id = #{userId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-08-->
    <select id="selectByUserIdAndResourceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from purchased_resource
        where pr_user_id = #{userId}
          and pr_resource_id = #{resourceId}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-12-20-->
    <select id="selectAllVoByResourceId" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from purchased_resource
        where pr_resource_id=#{resourceId}
    </select>
</mapper>