<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.PurchasedResourceMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        <!--@Table purchased_resource-->
        <id column="pur_user_id" property="userId"/>
        <id column="pur_resource_id" property="resourceId"/>
        <result column="pur_order_id" property="orderId"/>
        <result column="pur_purchase_time" property="purchaseTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        pur_user_id, pur_resource_id, pur_order_id, pur_purchase_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from purchased_resource
        where pur_user_id = #{userId}
          and pur_resource_id = #{resourceId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete
        from purchased_resource
        where pur_user_id = #{userId}
          and pur_resource_id = #{resourceId}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        insert into purchased_resource (pur_user_id, pur_resource_id, pur_order_id, pur_purchase_time)
        values (#{userId}, #{resourceId}, #{orderId}, #{purchaseTime})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        insert into purchased_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                pur_user_id,
            </if>
            <if test="resourceId != null">
                pur_resource_id,
            </if>
            <if test="orderId != null">
                pur_order_id,
            </if>
            <if test="purchaseTime != null">
                pur_purchase_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="resourceId != null">
                #{resourceId},
            </if>
            <if test="orderId != null">
                #{orderId},
            </if>
            <if test="purchaseTime != null">
                #{purchaseTime},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        update purchased_resource
        <set>
            <if test="orderId != null">
                pur_order_id = #{orderId},
            </if>
            <if test="purchaseTime != null">
                pur_purchase_time = #{purchaseTime},
            </if>
        </set>
        where pur_user_id = #{userId}
          and pur_resource_id = #{resourceId}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.PurchasedResource">
        <!--@mbg.generated-->
        update purchased_resource
        set pur_order_id      = #{orderId},
            pur_purchase_time = #{purchaseTime}
        where pur_user_id = #{userId}
          and pur_resource_id = #{resourceId}
    </update>
    <resultMap id="VoResultMap" type="cn.hdustea.aha_server.vo.PurchasedResourceVo">
        <result column="pur_order_id" property="orderId"/>
        <result column="pur_purchase_time" property="purchaseTime"/>
        <association column="pur_resource_id" javaType="cn.hdustea.aha_server.vo.ProjectResourceVo" property="resource"
                     select="cn.hdustea.aha_server.mapper.ProjectResourceMapper.selectVoByPrimaryKey"/>
    </resultMap>
    <resultMap id="ManagementVoResultMap" type="cn.hdustea.aha_server.vo.PurchasedResourceManagementVo">
        <result column="pur_user_id" property="userId"/>
        <result column="pur_resource_id" property="resourceId"/>
        <result column="pur_purchase_time" property="purchaseTime"/>
        <association property="contribPointOrder" javaType="cn.hdustea.aha_server.vo.ContribPointOrderVo"
                     column="pur_order_id"
                     select="cn.hdustea.aha_server.mapper.ContribPointOrderMapper.selectVoByPrimaryKey"/>
    </resultMap>

    <!--auto generated by MybatisCodeHelper on 2020-12-08-->
    <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from purchased_resource
        where pur_user_id = #{userId}
    </select>

    <select id="selectAllVoByUserId" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from purchased_resource
        where pur_user_id = #{userId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-20-->
    <select id="selectAllManagementVoByConditions" resultMap="ManagementVoResultMap">
        select
        <include refid="Base_Column_List"/>
        from purchased_resource pur
                     join project_resource pr on pur.pur_resource_id = pr.pr_id
                     join project p on p.p_id = pr.pr_project_id
        <where>
            <if test="projectId != null">
                and p_id = #{projectId}
            </if>
            <if test="resourceId != null">
                and pur_resource_id = #{resourceId}
            </if>
            <if test="userId != null">
                and pur_user_id = #{userId}
            </if>
            <if test="orderId != null">
                and pur_order_id = #{orderId}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-22-->
    <select id="selectAllByProjectIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.ProjectResourceMapper.Base_Column_List"/>
        from purchased_resource pur
                     join project_resource pr on pur.pur_resource_id = pr.pr_id
        where pr_project_id = #{projectId}
          and pur_user_id = #{userId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-22-->
    <select id="selectAllResourceIdByProjectIdAndUserId" resultType="java.lang.Integer">
        select pur_resource_id,
        <include refid="cn.hdustea.aha_server.mapper.ProjectResourceMapper.Base_Column_List"/>
        from purchased_resource pur
                     join project_resource pr on pur.pur_resource_id = pr.pr_id
        where pr_project_id = #{projectId}
          and pur_user_id = #{userId}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-02-09-->
    <select id="selectAllByResourceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from purchased_resource
        where pur_resource_id=#{resourceId}
    </select>
</mapper>