<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ResourceInfoMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.ResourceInfo">
        <!--@mbg.generated-->
        <!--@Table resource_info-->
        <id column="rei_res_id" property="resId"/>
        <result column="rei_intro" property="intro"/>
        <collection property="members" ofType="cn.hdustea.aha_server.entity.ResourceMember" column="rei_res_id"
                    select="cn.hdustea.aha_server.mapper.ResourceMemberMapper.selectAllByResId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        rei_res_id, rei_intro
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from resource_info
        where rei_res_id = #{resId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from resource_info
        where rei_res_id = #{resId}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.ResourceInfo">
        <!--@mbg.generated-->
        insert into resource_info (rei_res_id, rei_intro)
        values (#{resId}, #{intro})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.ResourceInfo">
        <!--@mbg.generated-->
        insert into resource_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resId != null">
                rei_res_id,
            </if>
            <if test="intro != null">
                rei_intro,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resId != null">
                #{resId},
            </if>
            <if test="intro != null">
                #{intro},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.ResourceInfo">
        <!--@mbg.generated-->
        update resource_info
        <set>
            <if test="intro != null">
                rei_intro = #{intro},
            </if>
        </set>
        where rei_res_id = #{resId}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.ResourceInfo">
        <!--@mbg.generated-->
        update resource_info
        set rei_intro = #{intro}
        where rei_res_id = #{resId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <update id="updateByResId">
        update resource_info
        <set>
            <if test="updated.resId != null">
                rei_res_id = #{updated.resId},
            </if>
            <if test="updated.intro != null">
                rei_intro = #{updated.intro},
            </if>
        </set>
        where rei_res_id = #{resId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <select id="selectByResId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_info
        where rei_res_id = #{resId}
    </select>
</mapper>