<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.dao.ResourceMapper">
  <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.Resource">
    <!--@mbg.generated-->
    <!--@Table `resource`-->
    <id column="id" property="id" />
    <result column="author_phone" property="authorPhone" />
    <result column="name" property="name" />
    <result column="filename" property="filename" />
    <result column="comp_id" property="compId" />
    <result column="level" property="level" />
    <result column="type" property="type" />
    <result column="date" property="date" />
    <result column="read" property="read" />
    <result column="collect" property="collect" />
    <result column="meaning" property="meaning" />
    <result column="avatar_url" property="avatarUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, author_phone, `name`, filename, comp_id, `level`, `type`, `date`, `read`, `collect`, 
    meaning, avatar_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `resource`
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `resource`
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Resource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `resource` (author_phone, `name`, filename, comp_id, `level`, `type`, `date`, 
      `read`, `collect`, meaning, avatar_url)
    values (#{authorPhone}, #{name}, #{filename}, #{compId}, #{level}, #{type}, #{date}, 
      #{read}, #{collect}, #{meaning}, #{avatarUrl})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.Resource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `resource`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authorPhone != null">
        author_phone,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="compId != null">
        comp_id,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="read != null">
        `read`,
      </if>
      <if test="collect != null">
        `collect`,
      </if>
      <if test="meaning != null">
        meaning,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authorPhone != null">
        #{authorPhone},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="filename != null">
        #{filename},
      </if>
      <if test="compId != null">
        #{compId},
      </if>
      <if test="level != null">
        #{level},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="date != null">
        #{date},
      </if>
      <if test="read != null">
        #{read},
      </if>
      <if test="collect != null">
        #{collect},
      </if>
      <if test="meaning != null">
        #{meaning},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.Resource">
    <!--@mbg.generated-->
    update `resource`
    <set>
      <if test="authorPhone != null">
        author_phone = #{authorPhone},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="filename != null">
        filename = #{filename},
      </if>
      <if test="compId != null">
        comp_id = #{compId},
      </if>
      <if test="level != null">
        `level` = #{level},
      </if>
      <if test="type != null">
        `type` = #{type},
      </if>
      <if test="date != null">
        `date` = #{date},
      </if>
      <if test="read != null">
        `read` = #{read},
      </if>
      <if test="collect != null">
        `collect` = #{collect},
      </if>
      <if test="meaning != null">
        meaning = #{meaning},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.Resource">
    <!--@mbg.generated-->
    update `resource`
    set author_phone = #{authorPhone},
      `name` = #{name},
      filename = #{filename},
      comp_id = #{compId},
      `level` = #{level},
      `type` = #{type},
      `date` = #{date},
      `read` = #{read},
      `collect` = #{collect},
      meaning = #{meaning},
      avatar_url = #{avatarUrl}
    where id = #{id}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-10-24-->
  <select id="selectAuthorUserIdById" resultType="java.lang.Integer">
        select author_user_id
        from `resource`
        where id=#{id}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-10-30-->
  <select id="selectId" resultType="java.lang.Integer">
        select id
        from `resource`
    </select>

<!--auto generated by MybatisCodeHelper on 2020-10-30-->
  <update id="updateReadById">
    update `resource`
    set `read`=#{updatedRead}
    where id=#{id}
  </update>
</mapper>