<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.ResourceMemberMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.ResourceMember">
        <!--@mbg.generated-->
        <!--@Table resource_member-->
        <id column="rem_res_id" property="resId"/>
        <id column="rem_member_phone" property="memberPhone"/>
        <result column="ui_true_name" property="trueName"/>
        <result column="ui_avatar_url" property="avatarUrl"/>
        <result column="rem_job" property="job"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        rem_res_id, rem_member_phone, rem_job
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from resource_member
        where rem_res_id = #{resId}
          and rem_member_phone = #{memberPhone}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete
        from resource_member
        where rem_res_id = #{resId}
          and rem_member_phone = #{memberPhone}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.ResourceMember">
        <!--@mbg.generated-->
        insert into resource_member (rem_res_id, rem_member_phone, rem_job)
        values (#{resId}, #{memberPhone}, #{job})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.ResourceMember">
        <!--@mbg.generated-->
        insert into resource_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resId != null">
                rem_res_id,
            </if>
            <if test="memberPhone != null">
                rem_member_phone,
            </if>
            <if test="job != null">
                rem_job,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resId != null">
                #{resId},
            </if>
            <if test="memberPhone != null">
                #{memberPhone},
            </if>
            <if test="job != null">
                #{job},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.ResourceMember">
        <!--@mbg.generated-->
        update resource_member
        <set>
            <if test="job != null">
                rem_job = #{job},
            </if>
        </set>
        where rem_res_id = #{resId}
          and rem_member_phone = #{memberPhone}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.ResourceMember">
        <!--@mbg.generated-->
        update resource_member
        set rem_job = #{job}
        where rem_res_id = #{resId}
          and rem_member_phone = #{memberPhone}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <select id="selectAllByResId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        <include refid="cn.hdustea.aha_server.mapper.UserInfoMapper.Base_Column_List">
        </include>
        from resource_member
                     join user u on u.u_phone = resource_member.rem_member_phone
                     join user_info ui on ui.ui_user_id = u.u_id
        where rem_res_id = #{resId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <insert id="insertList">
        INSERT INTO resource_member(rem_res_id,
                                    rem_member_phone,
                                    rem_job)VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (#{resId},
             #{element.memberPhone},
             #{element.job})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <delete id="deleteByResId">
        delete
        from resource_member
        where rem_res_id = #{resId}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <update id="updateJobByResIdAndMemberPhone">
        update resource_member
        set rem_job=#{updatedJob}
        where rem_res_id = #{resId}
          and rem_member_phone = #{memberPhone}
    </update>
</mapper>