<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.UserInfo">
        <!--@mbg.generated-->
        <!--@Table user_info-->
        <id column="ui_user_id" property="userId"/>
        <result column="ui_nickname" property="nickname"/>
        <result column="ui_gender" property="gender"/>
        <result column="ui_birthday" property="birthday"/>
        <result column="ui_type_id" property="typeId"/>
        <result column="ui_signature" property="signature"/>
        <result column="ui_avatar_url" property="avatarUrl"/>
        <result column="ui_school" property="school"/>
        <result column="ui_academy" property="academy"/>
        <result column="ui_major" property="major"/>
        <result column="ui_grade" property="grade"/>
        <result column="ui_intro" property="intro"/>
        <result column="ui_specialty_tags" property="specialtyTags"/>
        <result column="ui_true_name" property="trueName"/>
        <result column="ui_comp_tags" property="compTags"/>
    </resultMap>
    <resultMap id="RoughResultMap" type="cn.hdustea.aha_server.vo.UserRoughInfoVo">
        <!--@mbg.generated-->
        <!--@Table user_info-->
        <result column="u_phone" property="phone"/>
        <result column="ui_nickname" property="nickname"/>
        <result column="ui_gender" property="gender"/>
        <result column="ui_avatar_url" property="avatarUrl"/>
        <result column="ui_school" property="school"/>
        <result column="ui_true_name" property="trueName"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ui_user_id, ui_nickname, ui_gender, ui_birthday, ui_type_id, ui_signature, ui_avatar_url,
        ui_school, ui_academy, ui_major, ui_grade, ui_intro, ui_specialty_tags, ui_true_name,
        ui_comp_tags
    </sql>
    <sql id="Rough_Column_List">
        <!--@mbg.generated-->
        ui_user_id, ui_nickname, ui_gender, ui_avatar_url, ui_school, ui_true_name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_info
        where ui_user_id = #{userId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from user_info
        where ui_user_id = #{userId}
    </delete>
    <insert id="insert" parameterType="cn.hdustea.aha_server.entity.UserInfo">
        <!--@mbg.generated-->
        insert into user_info (ui_user_id, ui_nickname, ui_gender, ui_birthday, ui_type_id, ui_signature,
                               ui_avatar_url, ui_school, ui_academy, ui_major, ui_grade, ui_intro, ui_specialty_tags,
                               ui_true_name, ui_comp_tags)
        values (#{userId}, #{nickname}, #{gender}, #{birthday}, #{typeId}, #{signature},
                #{avatarUrl}, #{school}, #{academy}, #{major}, #{grade}, #{intro}, #{specialtyTags},
                #{trueName}, #{compTags})
    </insert>
    <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.UserInfo">
        <!--@mbg.generated-->
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                ui_user_id,
            </if>
            <if test="nickname != null">
                ui_nickname,
            </if>
            <if test="gender != null">
                ui_gender,
            </if>
            <if test="birthday != null">
                ui_birthday,
            </if>
            <if test="typeId != null">
                ui_type_id,
            </if>
            <if test="signature != null">
                ui_signature,
            </if>
            <if test="avatarUrl != null">
                ui_avatar_url,
            </if>
            <if test="school != null">
                ui_school,
            </if>
            <if test="academy != null">
                ui_academy,
            </if>
            <if test="major != null">
                ui_major,
            </if>
            <if test="grade != null">
                ui_grade,
            </if>
            <if test="intro != null">
                ui_intro,
            </if>
            <if test="specialtyTags != null">
                ui_specialty_tags,
            </if>
            <if test="trueName != null">
                ui_true_name,
            </if>
            <if test="compTags != null">
                ui_comp_tags,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="typeId != null">
                #{typeId},
            </if>
            <if test="signature != null">
                #{signature},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl},
            </if>
            <if test="school != null">
                #{school},
            </if>
            <if test="academy != null">
                #{academy},
            </if>
            <if test="major != null">
                #{major},
            </if>
            <if test="grade != null">
                #{grade},
            </if>
            <if test="intro != null">
                #{intro},
            </if>
            <if test="specialtyTags != null">
                #{specialtyTags},
            </if>
            <if test="trueName != null">
                #{trueName},
            </if>
            <if test="compTags != null">
                #{compTags},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.UserInfo">
        <!--@mbg.generated-->
        update user_info
        <set>
            <if test="nickname != null">
                ui_nickname = #{nickname},
            </if>
            <if test="gender != null">
                ui_gender = #{gender},
            </if>
            <if test="birthday != null">
                ui_birthday = #{birthday},
            </if>
            <if test="typeId != null">
                ui_type_id = #{typeId},
            </if>
            <if test="signature != null">
                ui_signature = #{signature},
            </if>
            <if test="avatarUrl != null">
                ui_avatar_url = #{avatarUrl},
            </if>
            <if test="school != null">
                ui_school = #{school},
            </if>
            <if test="academy != null">
                ui_academy = #{academy},
            </if>
            <if test="major != null">
                ui_major = #{major},
            </if>
            <if test="grade != null">
                ui_grade = #{grade},
            </if>
            <if test="intro != null">
                ui_intro = #{intro},
            </if>
            <if test="specialtyTags != null">
                ui_specialty_tags = #{specialtyTags},
            </if>
            <if test="trueName != null">
                ui_true_name = #{trueName},
            </if>
            <if test="compTags != null">
                ui_comp_tags = #{compTags},
            </if>
        </set>
        where ui_user_id = #{userId}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.UserInfo">
        <!--@mbg.generated-->
        update user_info
        set ui_nickname       = #{nickname},
            ui_gender         = #{gender},
            ui_birthday       = #{birthday},
            ui_type_id        = #{typeId},
            ui_signature      = #{signature},
            ui_avatar_url     = #{avatarUrl},
            ui_school         = #{school},
            ui_academy        = #{academy},
            ui_major          = #{major},
            ui_grade          = #{grade},
            ui_intro          = #{intro},
            ui_specialty_tags = #{specialtyTags},
            ui_true_name      = #{trueName},
            ui_comp_tags      = #{compTags}
        where ui_user_id = #{userId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <update id="updateByUserId">
        update user_info
        <set>
            <if test="updated.userId != null">
                ui_user_id = #{updated.userId},
            </if>
            <if test="updated.nickname != null">
                ui_nickname = #{updated.nickname},
            </if>
            <if test="updated.gender != null">
                ui_gender = #{updated.gender},
            </if>
            <if test="updated.birthday != null">
                ui_birthday = #{updated.birthday},
            </if>
            <if test="updated.typeId != null">
                ui_type_id = #{updated.typeId},
            </if>
            <if test="updated.signature != null">
                ui_signature = #{updated.signature},
            </if>
            <if test="updated.avatarUrl != null">
                ui_avatar_url = #{updated.avatarUrl},
            </if>
            <if test="updated.school != null">
                ui_school = #{updated.school},
            </if>
            <if test="updated.academy != null">
                ui_academy = #{updated.academy},
            </if>
            <if test="updated.major != null">
                ui_major = #{updated.major},
            </if>
            <if test="updated.grade != null">
                ui_grade = #{updated.grade},
            </if>
            <if test="updated.intro != null">
                ui_intro = #{updated.intro},
            </if>
            <if test="updated.specialtyTags != null">
                ui_specialty_tags = #{updated.specialtyTags},
            </if>
            <if test="updated.trueName != null">
                ui_true_name = #{updated.trueName},
            </if>
            <if test="updated.compTags != null">
                ui_comp_tags = #{updated.compTags},
            </if>
        </set>
        where ui_user_id = #{userId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <update id="updateAvatarUrlByUserId">
        update user_info
        set ui_avatar_url=#{updatedAvatarUrl}
        where ui_user_id = #{userId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where ui_user_id = #{userId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-22-->
    <select id="selectAllByNicknameLike" resultMap="RoughResultMap">
        select
        <include refid="Rough_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.UserMapper.Base_Column_List"/>
        from user_info ui
                     join user u on u.u_id = ui.ui_user_id
        where ui_nickname like concat('%', #{likeNickname}, '%')
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-22-->
    <select id="selectAllByTrueNameLike" resultMap="RoughResultMap">
        select
        <include refid="Rough_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.UserMapper.Base_Column_List"/>
        from user_info ui
                     join user u on u.u_id = ui.ui_user_id
        where ui_true_name like concat('%', #{likeTrueName}, '%')
    </select>

    <select id="selectAllByPhoneLike" resultMap="RoughResultMap">
        select
        <include refid="Rough_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.UserMapper.Base_Column_List"/>
        from user_info ui
        join user u on u.u_id = ui.ui_user_id
        where u_phone like concat('%', #{likePhone}, '%')
    </select>
</mapper>