<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.UserStatisticsMapper">
  <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.UserStatistics">
    <!--@mbg.generated-->
    <!--@Table user_statistics-->
    <id column="ust_user_id" property="userId" />
    <result column="ust_total_contrib_point" property="totalContribPoint" />
    <result column="ust_total_project" property="totalProject" />
    <result column="ust_total_received_collection" property="totalReceivedCollection" />
    <result column="ust_total_purchased_count" property="totalPurchasedCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ust_user_id, ust_total_contrib_point, ust_total_project, ust_total_received_collection, 
    ust_total_purchased_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_statistics
    where ust_user_id = #{userId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_statistics
    where ust_user_id = #{userId}
  </delete>
  <insert id="insert" parameterType="cn.hdustea.aha_server.entity.UserStatistics">
    <!--@mbg.generated-->
    insert into user_statistics (ust_user_id, ust_total_contrib_point, ust_total_project, ust_total_received_collection, 
      ust_total_purchased_count)
    values (#{userId}, #{totalContribPoint}, #{totalProject}, #{totalReceivedCollection}, 
      #{totalPurchasedCount})
  </insert>
  <insert id="insertSelective" parameterType="cn.hdustea.aha_server.entity.UserStatistics">
    <!--@mbg.generated-->
    insert into user_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        ust_user_id,
      </if>
      <if test="totalContribPoint != null">
        ust_total_contrib_point,
      </if>
      <if test="totalProject != null">
        ust_total_project,
      </if>
      <if test="totalReceivedCollection != null">
        ust_total_received_collection,
      </if>
      <if test="totalPurchasedCount != null">
        ust_total_purchased_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="totalContribPoint != null">
        #{totalContribPoint},
      </if>
      <if test="totalProject != null">
        #{totalProject},
      </if>
      <if test="totalReceivedCollection != null">
        #{totalReceivedCollection},
      </if>
      <if test="totalPurchasedCount != null">
        #{totalPurchasedCount},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.UserStatistics">
    <!--@mbg.generated-->
    update user_statistics
    <set>
      <if test="totalContribPoint != null">
        ust_total_contrib_point = #{totalContribPoint},
      </if>
      <if test="totalProject != null">
        ust_total_project = #{totalProject},
      </if>
      <if test="totalReceivedCollection != null">
        ust_total_received_collection = #{totalReceivedCollection},
      </if>
      <if test="totalPurchasedCount != null">
        ust_total_purchased_count = #{totalPurchasedCount},
      </if>
    </set>
    where ust_user_id = #{userId}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.UserStatistics">
    <!--@mbg.generated-->
    update user_statistics
    set ust_total_contrib_point = #{totalContribPoint},
      ust_total_project = #{totalProject},
      ust_total_received_collection = #{totalReceivedCollection},
      ust_total_purchased_count = #{totalPurchasedCount}
    where ust_user_id = #{userId}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-04-->
  <update id="updateIncTotalContribPointByUserId">
        update user_statistics
        set ust_total_contrib_point=ust_total_contrib_point+#{addedTotalContribPoint}
        where ust_user_id=#{userId}
    </update>

<!--auto generated by MybatisCodeHelper on 2021-02-04-->
  <update id="updateDecTotalContribPointByUserId">
    update user_statistics
    set ust_total_contrib_point=ust_total_contrib_point-#{deductedTotalContribPoint}
    where ust_user_id=#{userId}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-04-->
  <update id="updateIncTotalProjectByUserId">
    update user_statistics
    set ust_total_project=ust_total_project+#{addedTotalProject}
    where ust_user_id=#{userId}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-04-->
  <update id="updateDecTotalProjectByUserId">
    update user_statistics
    set ust_total_project=ust_total_project-#{deductedTotalProject}
    where ust_user_id=#{userId}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-04-->
  <update id="updateIncTotalReceivedCollectionByUserId">
    update user_statistics
    set ust_total_received_collection=ust_total_received_collection+#{addedTotalReceivedCollection}
    where ust_user_id=#{userId}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-04-->
  <update id="updateDecTotalReceivedCollectionByUserId">
    update user_statistics
    set ust_total_received_collection=ust_total_received_collection-#{deductedTotalReceivedCollection}
    where ust_user_id=#{userId}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-04-->
  <update id="updateIncTotalPurchasedCountByUserId">
    update user_statistics
    set ust_total_purchased_count=ust_total_purchased_count+#{addedTotalPurchasedCount}
    where ust_user_id=#{userId}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-04-->
  <update id="updateDecTotalPurchasedCountByUserId">
    update user_statistics
    set ust_total_purchased_count=ust_total_purchased_count-#{deductedTotalPurchasedCount}
    where ust_user_id=#{userId}
  </update>
</mapper>