<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.mapper.UserMapper">
    <resultMap id="selectUserIdAndContribPointResult" type="cn.hdustea.aha_server.vo.UserContribPointVo">
        <result column="u_contrib_point" property="contribPoint"/>
        <association property="user" javaType="cn.hdustea.aha_server.vo.UserRoughInfoVo" column="u_id"
                     select="cn.hdustea.aha_server.mapper.UserInfoMapper.selectVoByPrimaryKey"/>
    </resultMap>
    <resultMap id="ManagementVoResultMap" type="cn.hdustea.aha_server.vo.UserManagementVo">
        <!--@mbg.generated-->
        <!--@Table `user`-->
        <id column="u_id" property="id"/>
        <result column="u_id" property="id"/>
        <result column="u_created_time" property="createdTime"/>
        <result column="u_student_rec_filename" property="studentRecFilename"/>
        <result column="u_contrib_point" property="contribPoint"/>
        <result column="u_signed_notice" property="signedNotice"/>
        <result column="u_signed_contract" property="signedContract"/>
        <result column="u_role_id" property="roleId"/>
        <result column="ui_nickname" property="nickname"/>
        <result column="ui_gender" property="gender"/>
        <result column="ui_birthday" property="birthday"/>
        <result column="ui_type_id" property="typeId"/>
        <result column="ui_signature" property="signature"/>
        <result column="ui_avatar_url" property="avatarUrl"/>
        <result column="ui_school" property="school"/>
        <result column="ui_academy" property="academy"/>
        <result column="ui_major" property="major"/>
        <result column="ui_grade" property="grade"/>
        <result column="ui_intro" property="intro"/>
        <result column="ui_specialty_tags" property="specialtyTags"/>
        <result column="ui_true_name" property="trueName"/>
        <result column="ui_comp_tags" property="compTags"/>
        <association property="role" javaType="cn.hdustea.aha_server.entity.Role" column="u_role_id"
                     select="cn.hdustea.aha_server.mapper.RoleMapper.selectByPrimaryKey"/>
    </resultMap>
    <resultMap id="VoResultMap" type="cn.hdustea.aha_server.vo.UserVo">
        <id column="u_id" property="id"/>
        <result column="u_password" property="password"/>
        <result column="u_created_time" property="createdTime"/>
        <result column="u_student_rec_filename" property="studentRecFilename"/>
        <result column="u_contrib_point" property="contribPoint"/>
        <result column="u_signed_notice" property="signedNotice"/>
        <result column="u_signed_contract" property="signedContract"/>
        <association property="role" javaType="cn.hdustea.aha_server.entity.Role" column="u_role_id"
                     select="cn.hdustea.aha_server.mapper.RoleMapper.selectByPrimaryKey"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.User">
        <!--@mbg.generated-->
        <!--@Table `user`-->
        <id column="u_id" property="id"/>
        <result column="u_password" property="password"/>
        <result column="u_created_time" property="createdTime"/>
        <result column="u_student_rec_filename" property="studentRecFilename"/>
        <result column="u_contrib_point" property="contribPoint"/>
        <result column="u_signed_notice" property="signedNotice"/>
        <result column="u_signed_contract" property="signedContract"/>
        <result column="u_role_id" property="roleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        u_id, u_password, u_created_time, u_student_rec_filename, u_contrib_point, u_signed_notice,
        u_signed_contract, u_role_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `user`
        where u_id = #{id}
    </select>

    <select id="selectVoByPrimaryKey" parameterType="java.lang.Integer" resultMap="VoResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where u_id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from `user`
        where u_id = #{id}
    </delete>
    <insert id="insert" keyColumn="u_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `user` (u_password, u_created_time, u_student_rec_filename, u_contrib_point, u_signed_notice,
                            u_signed_contract, u_role_id)
        values (#{password}, #{createdTime}, #{studentRecFilename}, #{contribPoint}, #{signedNotice},
                #{signedContract}, #{roleId})
    </insert>
    <insert id="insertSelective" keyColumn="u_id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="password != null">
                u_password,
            </if>
            <if test="createdTime != null">
                u_created_time,
            </if>
            <if test="studentRecFilename != null">
                u_student_rec_filename,
            </if>
            <if test="contribPoint != null">
                u_contrib_point,
            </if>
            <if test="signedNotice != null">
                u_signed_notice,
            </if>
            <if test="signedContract != null">
                u_signed_contract,
            </if>
            <if test="roleId != null">
                u_role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="password != null">
                #{password},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="studentRecFilename != null">
                #{studentRecFilename},
            </if>
            <if test="contribPoint != null">
                #{contribPoint},
            </if>
            <if test="signedNotice != null">
                #{signedNotice},
            </if>
            <if test="signedContract != null">
                #{signedContract},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.User">
        <!--@mbg.generated-->
        update `user`
        <set>
            <if test="password != null">
                u_password = #{password},
            </if>
            <if test="createdTime != null">
                u_created_time = #{createdTime},
            </if>
            <if test="studentRecFilename != null">
                u_student_rec_filename = #{studentRecFilename},
            </if>
            <if test="contribPoint != null">
                u_contrib_point = #{contribPoint},
            </if>
            <if test="signedNotice != null">
                u_signed_notice = #{signedNotice},
            </if>
            <if test="signedContract != null">
                u_signed_contract = #{signedContract},
            </if>
            <if test="roleId != null">
                u_role_id = #{roleId},
            </if>
        </set>
        where u_id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.User">
        <!--@mbg.generated-->
        update `user`
        set u_password             = #{password},
            u_created_time         = #{createdTime},
            u_student_rec_filename = #{studentRecFilename},
            u_contrib_point        = #{contribPoint},
            u_signed_notice        = #{signedNotice},
            u_signed_contract      = #{signedContract},
            u_role_id              = #{roleId}
        where u_id = #{id}
    </update>


    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where u_id = #{id}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <update id="updatePasswordById">
        update `user`
        set u_password=#{updatedPassword}
        where u_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <update id="updateSignedNoticeById">
        update `user`
        set u_signed_notice=#{updatedSignedNotice}
        where u_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-02-->
    <update id="updateSignedContractById">
        update `user`
        set u_signed_contract=#{updatedSignedContract}
        where u_id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-04-->
    <select id="selectIdAndContribPoint" resultMap="selectUserIdAndContribPointResult">
        select u_id, u_contrib_point
        from `user`
    </select>

    <select id="selectManagementVoByPrimaryKey" resultMap="ManagementVoResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.UserInfoMapper.Base_Column_List"/>
        from user u
                     join user_info ui on ui.ui_user_id = u.u_id
        where u_id = #{id}
    </select>

    <select id="selectAllManagementVoByConditions" resultMap="ManagementVoResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="cn.hdustea.aha_server.mapper.UserInfoMapper.Base_Column_List"/>
        from user u
                     join user_info ui on ui.ui_user_id = u.u_id
        <where>
            <if test="roleId != null">
                and u_role_id = #{roleId}
            </if>
            <if test="signedNotice != null">
                and u_signed_notice = #{signedNotice}
            </if>
            <if test="signedContract != null">
                and u_signed_contract = #{signedContract}
            </if>
            <if test="typeId != null">
                and ui_type_id = #{typeId}
            </if>
            <if test="nicknameLike != null and nicknameLike != ''">
                and ui_nickname like concat('%', #{nicknameLike}, '%')
            </if>
            <if test="trueNameLike != null and trueNameLike != ''">
                and ui_true_name like concat('%', #{trueNameLike}, '%')
            </if>
        </where>
    </select>
</mapper>