<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdustea.aha_server.dao.UserMapper">
    <resultMap id="BaseResultMap" type="cn.hdustea.aha_server.entity.User">
        <!--@mbg.generated-->
        <!--@Table `user`-->
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="created_time" property="createdTime"/>
        <result column="student_rec_filename" property="studentRecFilename"/>
        <result column="contrib_point" property="contribPoint"/>
        <result column="is_signed_notice" property="isSignedNotice"/>
        <result column="role_id" property="roleId"/>
        <association property="role" javaType="cn.hdustea.aha_server.entity.Role" column="role_id"
                     select="cn.hdustea.aha_server.dao.RoleMapper.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, phone, `password`, created_time, student_rec_filename, contrib_point, is_signed_notice,
        role_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `user`
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from `user`
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `user` (phone, `password`, created_time, student_rec_filename, contrib_point,
                            is_signed_notice, role_id)
        values (#{phone}, #{password}, #{createdTime}, #{studentRecFilename}, #{contribPoint},
                #{isSignedNotice}, #{roleId})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hdustea.aha_server.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null">
                phone,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="studentRecFilename != null">
                student_rec_filename,
            </if>
            <if test="contribPoint != null">
                contrib_point,
            </if>
            <if test="isSignedNotice != null">
                is_signed_notice,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null">
                #{phone},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="studentRecFilename != null">
                #{studentRecFilename},
            </if>
            <if test="contribPoint != null">
                #{contribPoint},
            </if>
            <if test="isSignedNotice != null">
                #{isSignedNotice},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hdustea.aha_server.entity.User">
        <!--@mbg.generated-->
        update `user`
        <set>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="password != null">
                `password` = #{password},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="studentRecFilename != null">
                student_rec_filename = #{studentRecFilename},
            </if>
            <if test="contribPoint != null">
                contrib_point = #{contribPoint},
            </if>
            <if test="isSignedNotice != null">
                is_signed_notice = #{isSignedNotice},
            </if>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hdustea.aha_server.entity.User">
        <!--@mbg.generated-->
        update `user`
        set phone                = #{phone},
            `password`           = #{password},
            created_time         = #{createdTime},
            student_rec_filename = #{studentRecFilename},
            contrib_point        = #{contribPoint},
            is_signed_notice     = #{isSignedNotice},
            role_id              = #{roleId}
        where id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-10-24-->
    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where phone = #{phone}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-10-24-->
    <update id="updatePasswordByPhone">
        update `user`
        set `password`=#{updatedPassword}
        where phone = #{phone}
    </update>

<!--auto generated by MybatisCodeHelper on 2020-10-27-->
    <update id="updateIsSignedNoticeByPhone">
        update `user`
        set is_signed_notice=#{updatedIsSignedNotice}
        where phone=#{phone}
    </update>
</mapper>